[color "diff"]
	old = red strike
	new = green
[alias]
	st = status -sb
	slog = log --pretty='format:%C(green)%h%Creset %C(cyan)%aI%Creset %C(magenta)%s%Creset%n        %C(yellow)%aN <%ae>%Creset %C(green dim)[%G?% GS]%Creset' --graph
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ >> .gitignore ;}; gi"
	license = "!gl() { curl -L -s https://api.github.com/licenses/$@ | python3 -c \"import sys, json; print(json.load(sys.stdin)['body'].replace('[year]', str($(date +\"%Y\"))).replace('[fullname]', '$(git config user.name)'))\" > LICENSE ; git add LICENSE ;}; gl"
	licenses = "!gls() { curl -L -s https://api.github.com/licenses | python3 -c \"import sys, json; print(*list(e['key'] for e in json.load(sys.stdin)))\" ;}; gls"
	co = checkout
	web = instaweb --httpd=webrick
	webstop = instaweb --httpd=webrick --stop
[commit]
	gpgsign = true
[user]
	signingkey = 487EBDD5
	name = Sebastian Höffner
	email = info@sebastian-hoeffner.de
[rerere]
	enabled = true
[core]
	excludesfile = /Users/shoeffner/.gitignore_global
[url "git@gitlab.com:"]
	insteadOf = "gl:"
	insteadOf = "git://gitlab.com"
	pushInsteadOf = "gitlab:"
	pushInsteadOf = "git://gitlab.com/"
	pushInsteadOf = "https://gitlab.com/"
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "git://github.com"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	pushInsteadOf = "https://gist.github.com/"
[url "git@gitlab.informatik.uni-bremen.de:"]
	insteadOf = "ub:"
	pushInsteadOf = "https://gitlab.informatik.uni-bremen.de/"
[pager]
	branch = false
[pull]
	rebase = false
