[color "diff"]
	old = red strike
	new = green
[alias]
	st = status -sb
	slog = log --pretty='format:%C(green)%h%Creset %C(cyan)%aI%Creset %C(magenta)%s%Creset%n        %C(yellow)%aN <%ae>%Creset %C(green dim)[%G?% GS]%Creset' --graph
[commit]
	gpgsign = true
[user]
	signingkey = 487EBDD5
	name = Sebastian Höffner
	email = info@sebastian-hoeffner.de
[rerere]
	enabled = true
[core]
    excludesfile = /Users/shoeffner/.gitignore_global
[url "git@github.com:"]
	insteadOf = "gh:"
	insteadOf = "git://github.com"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	pushInsteadOf = "https://gist.github.com/"
